* {
  box-sizing: border-box;
}

body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
   text-align: center;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
   text-align: center;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

h1 {
  color: #004E89;
  font-family: 'Calibri', sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h2 {
  color: #AAA;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  
  .welcome {
  background-color: #DBE9EE;
  box-sizing: border-box;
  padding: 40px;
  position: absolute;
  left: 0;
  top: 80px;
  text-align: center;
  width: 100%;
  z-index: 999;
}
